/* Landing Page Container */
.landing-page {
    scroll-snap-type: y mandatory;
  }
  
  .section {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .6);
    padding: 60px;
  }
  
  /* Sección 1: Intro */
  .intro {
    background-image: url('src/assets/img/intro-bg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    
  }
  
  .intro .logo {
    filter: drop-shadow(-2px 2px 15px rgba(255, 255, 255, 0.7));
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 50%;
    margin-bottom: 20px;
  }
  
  .intro h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .intro p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .btn-azul {
    background-color: #1b70a6;
    color: white;
    padding: 12px 24px;
    border-radius: 32px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-azul:hover {
    background-color: rgba(27, 112, 166, 0.8);
  }
  
  /* Sección 2: Beneficios */
  .section.beneficios {
    background: rgb(27,112,166);
    background: linear-gradient(90deg, rgba(27,112,166,1) 0%, rgba(242,84,27,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    color: white;
    text-shadow: none;
  }
  
  .section.beneficios h1 {
    margin-bottom: 20px;
  }

  .beneficios {
    text-align: center;
  }
  
  .benefits-grid {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
  
  .benefit {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 20px;
    width: 30%;
    text-align: center;
    color: black;
    transition: transform 0.3s ease;
  }

  .benefit:hover {
    transform: scale(1.05);
  }
  
  .benefit img {
    width: 50%;
    margin-bottom: 20px;
  }
  
  .benefit h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  /* Secciones de funciones */
  .funcion1, .funcion2, .funcion3 {
    display: flex;
    flex-direction: column; 
    width: 100vw; /* Asegura que la sección ocupe todo el ancho de la pantalla */
    height: 100vh;
    padding: 0px;
  }

  .funcion1-title {
    font-size: 2.5rem;
    margin-bottom: 50px; 
  }
  
  .funcion1 .content, .funcion2 .content, .funcion3 .content {
    display: flex;
    width: 100%; /* Todo el ancho disponible */
    height: 100%; /* Todo el alto disponible */
  }
  
  .text {
    flex: 0 0 40%; /* Ocupa el 40% del ancho */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
  }

  .funcion1 .text {
    background-color: #d7e7d3; /* Verde claro */
  }
  
  .funcion2 .text {
    background-color: #fbe0d8; /* Rosa claro */
  }
  
  .funcion3 .text {
    background-color: #e5dbff; /* Azul claro */
  }
  
  .text h3 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .text p {
    font-size: 1.2rem;
  }
  
  /* Estilos de la imagen */
  .image {
    flex: 0 0 60%; /* Ocupa el 60% del ancho */
    height: 100%;
  }
  
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio */
  }
  
  /* Sección 6: Call to Action */
  .cta {
    background-image: url('src/assets/img/team2.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
  }
  
  .cta h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  