.task-board {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: #f8f9fa;
    height: 100%;
    min-height: calc(100vh - 66px);
    overflow-y: auto;
}

.columns h6 {
    color: white;
}

.task-card h6 {
    color: black;
    font-weight: bold;
}

.filters {
    display: flex;
    gap: 16px;
    justify-content: right;
    z-index: 1;
}

.columns {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.column {
    background: white;
    border-radius: 12px;
    padding: 16px;
    border: 1px solid #d3d3d3;
    flex: 1 1 calc(33% - 24px);
    display: flex;
    flex-direction: column;
}

.column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.to-do {
    background-color: green;
}

.in-progress {
    background-color: #F2541B;
}

.completed {
    background-color: #1b70a6;
}

.task-card {
    background: white;
    border-radius: 12px;
    padding: 16px;
    border: 1px solid #d3d3d3;
    margin-bottom: 16px;
}

.priority-label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-card .priority-label {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 12px;
    margin-bottom: 8px;
}

.priority-low {
    background-color: #e0f7e9;
    color: #388e3c;
}

.priority-complete {
    background-color: #e0f7e9;
    color: #38568e;
}

.priority-medium {
    background-color: #fff3e0;
    color: #fbc02d;
}

.priority-review {
    background-color: #fff3e0;
    color: #fbc02d;
}

.priority-high {
    background-color: #ffebee;
    color: #d32f2f;
}

.task-card .avatars {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.task-info {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
    color: #607489;
}

.task-info svg {
    font-size: 16px;
}

.difficulty-label {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 12px;
    margin-bottom: 8px;
}

.difficulty-Fácil {
    background-color: #e0f7fa;
    color: #00796b;
}

.difficulty-Media {
    background-color: #fffde7;
    color: #fbc02d;
}

.difficulty-Difícil {
    background-color: #ffebee;
    color: #d32f2f;
}

.difficulty-revisada {
    background-color: #1b70a6;
    color: #ffffff;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

@media (max-width: 768px) {
    .columns {
        flex-direction: column;
    }

    .column {
        flex: 1 1 100%;
    }
}
