:root {
  --botonAzul: #1B70A6;
  --botonNrj: #F2541B;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Evitar scroll horizontal si hay algún overflow */
}

main {
  margin-top: 80px; /* Ajusta este valor según la altura del header */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
}

button:hover {
  opacity: 0.9;
}
