:root {
  --botonAzul: #1B70A6;
  --botonNrj: #F2541B;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
}

button:hover {
  opacity: 0.9;
}

.main-content.public-path {
  display: flex;
  flex-direction: column;
}
.main-content.private-path {
  display: flex;
  flex-direction: column;
}

.swal2-popup-custom {
  z-index: 2000 !important;
}